$authTextColor: #3897f0;
$authFontSize: 14px;
$buttonColor: #3897f0;

.auth{

  #right-panel{
    border: 1px solid #efefef;
    background-color: #fff;
    margin-top: 20px;
  }

  #left-panel{
    margin-top: 80px;
  }

  .img-thumbnail{
    background-color: transparent;
  }
}

.auth-button{
  height: 37px;
  width: 100%;
  color: #fff;
  margin-top: 8px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  background-color: $buttonColor;
}

.auth-button:hover{
  color: #fff;
  background-color: $buttonColor;
}

.auth-input{
  color: #000;
  height: 33px;
  font-weight: 200;
  font-size: $authFontSize;
  margin-bottom: 5px;
}

.auth-footer{
  font-size: 14px;
  border: 1px solid #efefef;
  margin-top: 10px;
  text-align: center;
  height: 66px;
  padding-top: 22px;
  background-color: #fff;
}

.logo-container{
  text-align: center;
}

.auth-logo{
  font-size: 3.5em;
  font-family: "InstagramFont", Verdana, Tahoma;
}

.footer-text{
  color: $authTextColor;
}

@media (max-width: 767px) {
  #left-panel{
    display: none;
  }
}
