$authTextColor: #3897f0;

.auth{

  #right-panel{
    border: 1px solid #efefef;
    background-color: #fff;
    margin-top: 20px;
  }

  #left-panel{
    margin-top: 80px;
  }

  .img-thumbnail{
    background-color: transparent;
  }
}

.auth-footer{
  font-size: 14px;
  border: 1px solid #efefef;
  margin-top: 10px;
  text-align: center;
  height: 66px;
  padding-top: 22px;
  background-color: #fff;
}

.footer-text{
  color: $authTextColor;
}

@media (max-width: 767px) {
  #left-panel{
    display: none;
  }
}
